body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url(m_images/image5.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vmin;
  overflow: hidden;
  transition: 2s ease-in-out;
}

main {
  display: flex;
  gap: 20em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 13em;
}
main i {
  font-size: 4em;
  cursor: pointer;
  transition: 0.4s ease-in;
  margin: 0;
  padding: 0;
}
main #play {
  padding-left: 3em;
}
main #play h1 {
  font-size: 4em;
}
main .fa-heart {
  color: dimgray;
}
main .fa-play {
  color: burlywood;
  font-size: 10em;
}
main .fa-solid {
  color: red;
}
main .fa-pause {
  color: brown;
}
main .fa-sun {
  color: rgb(255, 213, 0);
}
main .fa-moon {
  color: gray;
}
#about {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: cursive;
  padding: 0.3em 1em;
  background-color: beige;
  transition: 0.3s ease-out;
  border-radius: 0.3em;
}
#about strong {
  font-weight: 100;
}
#about strong:hover {
  font-weight: 100;
  color: aliceblue;
  transition: 0.3s ease-in;
}
#about:hover {
  color: black;
  background-color: transparent;
  transition: 0.4s ease-in;
  letter-spacing: 0.5em;
}
#about #una {
  transition: 0.3s ease-in;
}
#about #una:hover {
  transition: 0.5s ease-out;
}
#about #pangalawa {
  transition: 0.5s ease-out;
}
#about #pangatlo {
  transition: 0.5s ease-out;
}
#about #pangapat {
  transition: 0.5s ease-out;
}
#about #panglima {
  transition: 0.5s ease-out;
}
